html, body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    height: 100vh;
    font-family: "Kumbh Sans", sans-serif;
    
    background-color:hsl(185, 75%, 39%); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;

    /* Background Circles */
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: top -500px left -250px, right -175px bottom -620px;
    background-repeat: no-repeat, no-repeat;
}

h2, h3{
    font-size: 1rem;
    margin: 1.8px auto;
}

h3{
    font-weight: 400;
    font-size: .8rem;
}

main{
    padding-bottom: 2em;
}

.card, .bio, .stats{
    display: flex;
}

.stats, .bio{
    background-color: white;
}

.card{
    
    width: 22em;
    border-radius: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/bg-pattern-card.svg);
    margin-left: .5em;
    margin-right: .5em;
    overflow: hidden;
}

.header{
    height: 9em;
    background-color: black;
}

.bio{
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-pic{
    width: 96px;
    height: 96px;
    background-image:  url("images/image-victor.jpg");
    border-radius: 50%;
    border: solid white 3px;
    margin-top: -52px;
}

.bio .age, .bio .location, .stat-name{
    color: hsl(0, 0%, 59%);
}

.name{
    margin-top: 1.8em;
    letter-spacing: .5px;
}

.location{
    margin-bottom: 2.3em;
    margin-top: .5em;
}
 
.stat-num, .stat-name{
    margin: 0;
    font-size: .9em;
}

.age{
    margin-left: .5em;
    font-weight: 400;
}

.stat-num{
    font-weight: 700;
    padding-top: 1em;
}

.stat-name{
    font-size: .6rem;
    padding-top: .3em;
    padding-bottom: 1em;
    letter-spacing: 1px;
}

.stats{
    width: 100%;
    border-top: solid lightgray 1px;
}

.stats > div{
    flex-grow: 1;
    margin: 1em 2em;
}

@media only screen and (max-width: 480px){
    body {

        /* Background Circles */
        background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
        background-position: top -350px left -400px, bottom -300px right -400px;
        background-size: 600px 600px, 600px 600px;
        background-repeat: no-repeat, no-repeat;
    }
    
    .card{
        width: 100%;
        margin: auto;
    }
}